@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dino Diner</h1>
<img src="~/images/DinoDiner-32.png" alt="Dino Diner Photo"/>

<a asp-page="Privacy">Go to our Privacy Policy</a>
<a asp-page="About">Go to our About Page</a>
<a asp-page="Menu">Go to our Menu Page</a>